.idea/
/target/
/bin/
*.log
*.class
/.mvn/
/.settings/
*.iml
/.classpath
/.project
/.settings/

# Local configuration overrides (not committed to git)
application-local.properties
src/main/resources/application-local.properties